@use "functions" as *;

// Spacer Variables
$spacer-4: rem(4px);
$spacer-8: rem(8px);
$spacer-16: rem(16px);
$spacer-24: rem(24px);
$spacer-32: rem(32px);
$spacer-48: rem(48px);
$spacer-64: rem(64px);
$spacer-96: rem(96px);

$mobile-gutter: 20px;
$desktop-gutter: 118px;

$transition: 0.3s ease-in-out;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
