@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes moveSideToSide {
  0%,
  100% {
    transform: translateX(0); /* Start and end at the original position */
  }
  50% {
    transform: translateX(10px); /* Move 10px to the right */
  }
}
