@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.breadcrumb {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: $spacer-96 0 rem(128px);

  &__title {
    font-weight: 500;
  }

  .container {
    text-align: center;
    position: relative;
    z-index: 2;
  }
}
