@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.separator {
  display: grid;
  justify-content: center;
  margin: $spacer-32 auto;

  svg {
    fill: $color-primary;
    height: 26px;

    @include min-breakpoint(md) {
      height: 32px;
    }
  }
}
