@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.separator {
  min-height: rem(96px);

  @include min-breakpoint(md) {
    min-height: rem(128px);
  }

  .d-grid {
    justify-content: center;
    margin: auto;
    padding-top: $spacer-32;
    padding-bottom: $spacer-32;

    svg {
      fill: $color-primary;
      height: 26px;
      transform: rotate(90deg);

      @include min-breakpoint(md) {
        height: 32px;
      }
    }
  }
}
