@use "abstracts/functions" as *;
@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;
@use "base/colors" as *;

.service-block {
  h2 {
    text-align: center;
    margin-bottom: $spacer-48;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacer-64;

    @include min-breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    text-align: center;

    &-image {
      width: rem(120px);
      height: rem(120px);
      padding: $spacer-32;
      border-radius: 50%;
      margin: 0 auto;

      img {
        object-fit: contain;
        object-position: top;
      }
    }

    &-title {
      margin-top: $spacer-24;
    }

    &-link {
      transition: $transition;

      &:hover,
      &:focus {
        transform: translateY(-6px);
        opacity: $opacity;

        h3 {
          text-decoration: underline;
        }
      }
    }

    &-cta {
      margin-top: $spacer-8;
      display: inline-block;
      animation: moveSideToSide 1.5s ease-in-out infinite;

      @include min-breakpoint(md) {
        margin-top: $spacer-24;
      }

      &:hover,
      &:active,
      &:focus {
        opacity: $opacity;
        animation: none;
        animation-fill-mode: forwards;
      }
    }
  }
}
